{{#let
  (class-names
    (if @isFocused "euiFormLabel-isFocused")
    (if @isInvalid "euiFormLabel-isInvalid")
    "euiFormLabel"
  ) as |classes|
}}
  {{#if (eq @type "lengend")}}
    <legend class={{classes}} ...attributes>
      {{yield}}
    </legend>
  {{else}}
    <label class={{classes}} ...attributes>
      {{yield}}
    </label>
  {{/if}}
{{/let}}