{{#let
  (unique-id)
  (optional @onTabClick)
  (arg-or-default @autoFocus "initial")
  (use-state
    (get-tab-id
      (arg-or-default
        (or @selectedTab @initialSelectedTab)
        (object-at 0 @tabs)
      )
    )
  )
  as |id onTabClick autoFocus selectedTab|
}}
  <div class={{@className}} ...attributes>
    <EuiTabs
      @selectedTab={{selectedTab.get}}
      @expand={{@expand}}
      @display={{@display}}
      @size={{@size}}
      as |EuiTab|
    >
      {{#each @tabs as |tab|}}
        <EuiTab
          @id={{tab.id}}
          aria-controls={{id}}
          @selectedTabId={{selectedTab.get}}
          @onClick={{pipe selectedTab.set (fn onTabClick tab)}}
        >
          {{tab.name}}
        </EuiTab>
      {{/each}}
    </EuiTabs>

    {{#with
      (find-by "id" selectedTab.get @tabs)
      as |currentTab|
    }}
      <div
        role="tabpanel"
        id={{id}}
        aria-labelledby={{currentTab.id}}
      >
        {{currentTab.content}}
      </div>
    {{/with}}
  </div>
{{/let}}
