<a
  class="euiHeaderLogo"
  href={{@href}}
  target={{@target}}
  ...attributes
>
  <EuiIcon
    aria-label={{@iconTitle}}
    class="euiHeaderLogo__icon"
    @size="l"
    @type={{arg-or-default @iconType "logoElastic"}}
  />
  {{#if hasBlock}}
    <span class="euiHeaderLogo__text">
      {{yield}}
    </span>
  {{/if}}
</a>