{{#if @onClick}}
  <button
    class={{class-names
      "EuiPanel"
      (if @onClick "euiPanel--isClickable")
      (if @hasShadow "euiPanel--shadow")
      (if (eq @grow false) "euiPanel--flexGrowZero")
      padding=(arg-or-default @paddingSize "m")
    }}
    onClick={{@onClick}}
    ...attributes
  >
    {{yield}}
  </button>
{{else}}
  <div
    class={{class-names
      "EuiPanel"
      (if @hasShadow "euiPanel--shadow")
      (if (eq @grow false) "euiPanel--flexGrowZero")
      padding=(arg-or-default @paddingSize "m")
    }}
    ...attributes
  >
    {{yield}}
  </div>
{{/if}}