<figure
  class={{concat
    "euiImage "
    (unless (eq @hasShadow false) "euiImage--hasShadow ")
    this.sizeClass
  }}
  ...attributes
>
  {{#if @allowFullScreen}}
    <button
      class="euiImage__button"
      type="button"
      aria-label={{@ariaLabel}}
      data-test-subj={{@dataTestSubj}}
      {{on "click" this.toggleFullscreen}}
    >
      <img
        class="euiImage__img"
        style={{this.sizeStyle}}
        src={{@url}}
        alt={{@alt}}
      />
      <EuiIcon
        class="euiImage__icon"
        @type="fullScreen"
        @color={{if (not (eq @fullScreenIconColor "dark")) "ghost"}}
      />
    </button>
  {{else}}
    <img
      src={{@url}}
      class="euiImage__img"
      style={{this.sizeStyle}}
      alt={{@alt}}
    />
  {{/if}}
  {{#if @caption}}
    <figcaption class="euiImage__caption">
      {{@caption}}
    </figcaption>
  {{/if}}
</figure>
{{#if this.isFullscreen}}
  <EuiOverlayMask
    @headerZindexLocation="above"
    @onClick={{this.toggleFullscreen}}
  >
    <figure class="euiImage euiImage-isFullScreen">
      <button
        class="euiImage__button"
        type="button"
        {{on "click" this.toggleFullscreen}}
      >
        <img class="euiImage-isFullScreen__img" src={{@url}} alt={{@alt}} />
        <EuiIcon
          class="euiImage-isFullScreen__icon"
          @type="cross"
          @color={{if (not (eq @fullScreenIconColor "dark")) "ghost"}}
        />
      </button>
      <figcaption class="euiImage__caption">
        {{@caption}}
      </figcaption>
    </figure>
  </EuiOverlayMask>
{{/if}}