<div id="guide">
  <EuiHeader @theme="dark" @position="fixed">
    <EuiHeaderSection @side="left">
      <EuiHeaderSectionItem @border="right">
        <EuiHeaderLogo @iconType="/assets/euivector.svg">
          Ember EUI
        </EuiHeaderLogo>
      </EuiHeaderSectionItem>
      <EuiHeaderSectionItem @border="right">
        <EuiBadge
          @href="/docs/package/changelog"
          @color={{if (eq this.currentVersion "Local") "warning"}}
        >
          {{this.currentVersion}}
        </EuiBadge>
      </EuiHeaderSectionItem>
    </EuiHeaderSection>
    <EuiHeaderSection @side="right">
      <EuiHeaderSectionItem @border="none">
        <EuiPopover
          @isOpen={{this.themePopover}}
          @closePopover={{set this "themePopover" false}}
          @panelPaddingSize="none"
        >
          <:button>
            <EuiButton
              @color="ghost"
              @iconSide="right"
              @size="s"
              @iconType="arrowDown"
              {{on "click" (set this "themePopover" true)}}
            >
              {{this.currentTheme.name}}
            </EuiButton>
          </:button>
          <:content>
            <div class="euiContextMenuPanel" tabindex="-1">
              {{#each this.themes as |theme|}}
                <button
                  type="button"
                  class="euiContextMenuItem euiContextMenuItem--small"
                  {{on "click" (fn this.setTheme theme)}}
                >
                  <span class="euiContextMenu__itemLayout">
                    <EuiIcon
                      @type={{if
                        (eq this.currentTheme.key theme.key)
                        "check"
                        "empty"
                      }}
                      @iconClasses="euiContextMenu__icon"
                    />
                    <span class="euiContextMenuItem__text">
                      {{theme.name}}
                    </span>
                  </span>
                </button>
              {{/each}}
            </div>
          </:content>
        </EuiPopover>
      </EuiHeaderSectionItem>
      <EuiHeaderSectionItem @border="none">
        <EuiHeaderLogo
          class="text-white"
          @iconType="logoGithub"
          href="https://github.com/prysmex/ember-eui"
          target="_blank"
          rel="noopener noreferrer"
        />
      </EuiHeaderSectionItem>
    </EuiHeaderSection>
  </EuiHeader>
  <EuiPage @paddingSize="none" @grow={{true}}>
    <EuiPageSideBar @sticky={{true}} @paddingSize="none" class="guideSideNav">
      <SideNav
        @heading="Elastic UI"
        @onSearch={{this.onSearch}}
        @searchValue={{this.searchValue}}
        @isOpenMobile={{this.isOpenMobile}}
        @toggleOpenOnMobile={{set this "isOpenMobile"}}
        @items={{this.currentSideNavRoutes}}
        @selectedItem={{this.selectedItem}}
      />
    </EuiPageSideBar>
    <EuiPageBody @panelled={{true}}>
      {{outlet}}
    </EuiPageBody>
  </EuiPage>
</div>