<div id="guide">
  <EuiHeader @theme="dark" @position="fixed">
    <EuiHeaderSection @side="left">
      <EuiHeaderSectionItem @border="right">
        <EuiHeaderLogo @iconType="/assets/elastic.svg">
          Ember EUI
        </EuiHeaderLogo>
      </EuiHeaderSectionItem>
    </EuiHeaderSection>
    <EuiHeaderSection @side="right">
      <EuiHeaderSectionItem @border="none">
        <EuiHeaderLogo
          class="text-white"
          @iconType="logoGithub"
          href="https://github.com/prysmex/ember-eui"
          target="_blank"
          rel="noopener noreferrer"
        />

      </EuiHeaderSectionItem>
    </EuiHeaderSection>
  </EuiHeader>
  <EuiPage @paddingSize="none" @grow={{true}}>
    <EuiPageSideBar @sticky={{true}} @paddingSize="none" class="guideSideNav">
      <SideNav
        @heading="Elastic UI"
        @onSearch={{this.onSearch}}
        @searchValue={{this.searchValue}}
        @isOpenMobile={{this.isOpenMobile}}
        @toggleOpenOnMobile={{set this "isOpenMobile"}}
        @items={{this.currentSideNavRoutes}}
        @selectedItem={{this.selectedItem}}
      />
    </EuiPageSideBar>
    <EuiPageBody @panelled={{true}}>
      {{outlet}}
    </EuiPageBody>
  </EuiPage>
</div>