<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Accordion
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <EuiAccordion @buttonContent="Clickable title">
      My content
    </EuiAccordion>
    <br />
    <h1>
      Accordion with
      <b>
        forceState
      </b>
    </h1>
    The accordion is
    {{this.accordionState}}
    <br />
    <button type="button" {{on "click" (fn (mut this.accordionState) "open")}}>
      Open
    </button>
    <button
      type="button"
      {{on "click" (fn (mut this.accordionState) "closed")}}
    >
      Close
    </button>
    <EuiAccordion
      @buttonContent="Clickable title"
      @forceState={{this.accordionState}}
      @onToggle={{if
        (eq this.accordionState "open")
        (fn (mut this.accordionState) "closed")
        (fn (mut this.accordionState) "open")
      }}
    >
      My content
    </EuiAccordion>
    <br />
    <h1>
      Accordion with
      <b>
        isLoading = true
      </b>
    </h1>
    <EuiAccordion
      @buttonContent="You spin my head right round"
      @isLoading={{true}}
    >
      My content
    </EuiAccordion>
    <EuiAccordion
      @buttonContent="You spin my head right round also in content"
      @isLoading={{true}}
      @isLoadingMessage="What what"
    >
      My content
    </EuiAccordion>
    <br />
    <h1>
      Accordion with
      <b>
        arrowDisplay = left
      </b>
    </h1>
    <EuiAccordion @buttonContent="Clickable title" @arrowDisplay="right">
      My content
    </EuiAccordion>
  </EuiPageContentBody>
</EuiPageContent>