<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Eui Button
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle @size="m">
      Button Empty
    </EuiTitle>
    <div class="euiFlexGrid euiFlexGrid--responsive euiFlexGrid--fourths euiFlexGrid--gutterLarge">
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary">
          Primary
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary" @isLoading={{false}} @isDisabled={{true}}>
          Disabled
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary" @isLoading={{true}} @isDisabled={{false}}>
          Loading
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary" @iconSide="right" @isLoading={{true}} @isDisabled={{false}}>
          Loading Right
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="danger">
          Danger
        </EuiButtonEmpty>
      </div>
    </div>

    <EuiSpacer @size="l"/>

    <EuiTitle @size="m">
      Icon Button
    </EuiTitle>
    <div class="euiFlexGroup euiFlexGroup--directionRow euiFlexGroup--responsive euiFlexGroup--gutterLarge">

      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="primary" @iconType="arrowRight" @iconSize="s" />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="text" @iconType="arrowRight" @iconSize="m" />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="accent" @iconType="arrowRight" @iconSize="l" />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="warning" @iconType="arrowRight" @iconSize="xl" />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="danger" @iconType="arrowRight" @iconSize="xxl" />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="ghost" @iconType="arrowRight" @iconSize="xxl" />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="subdued" @iconType="arrowRight" @iconSize="xxl" />
      </div>

    </div>

    <div class="euiFlexGroup euiFlexGroup--directionRow euiFlexGroup--responsive euiFlexGroup--gutterLarge">

      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="primary" @iconType="arrowRight" @iconSize="original" onClick={{this.toggleIconButton}} />
      </div>
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <EuiButtonIcon @color="success" @iconType="arrowRight" @isDisabled={{true}}  />
      </div>

    </div>

  </EuiPageContentBody>
</EuiPageContent>