<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Eui Button
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle size="m">
      Button Empty
    </EuiTitle>
    <div class="euiFlexGrid euiFlexGrid--responsive euiFlexGrid--fourths euiFlexGrid--gutterLarge">
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary">
          Primary
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary" @isLoading={{false}} @isDisabled={{true}}>
          Disabled
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary" @isLoading={{true}} @isDisabled={{false}}>
          Loading
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="primary" @iconSide="right" @isLoading={{true}} @isDisabled={{false}}>
          Loading Right
        </EuiButtonEmpty>
      </div>
      <div class="euiFlexItem">
        <EuiButtonEmpty @color="danger">
          Danger
        </EuiButtonEmpty>
      </div>
    </div>

  </EuiPageContentBody>
</EuiPageContent>