<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Collapsible Nav
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle @size="s">
      Collapsible Nav
    </EuiTitle>

    <EuiCollapsibleNav
      @isOpen={{this.collNavIsOpen}}
      @onClose={{this.closeCollapsibleNav}}
      @showCloseButton={{true}}
    >
      <:button>
        <EuiButton @onClick={{this.openCollapsibleNav}}>
          Open Collapsible Nav
        </EuiButton>
      </:button>
      <:content>

        <EuiCollapsibleNavGroup
          @iconType="alert"
          @background="dark"
          @initialIsOpen={{false}}
          @isCollapsible={{true}}
        >
          <:title>
            Submenu 1
          </:title>
          <:content>
            This is the collapsible content!!!
          </:content>
        </EuiCollapsibleNavGroup>
        <EuiCollapsibleNavGroup
          @iconType="check"
          @background="light"
          @initialIsOpen={{false}}
          @isCollapsible={{true}}
        >
          <:title>
            Submenu 2
          </:title>
          <:content>
            <EuiButtonEmpty>
              I am a button 1
            </EuiButtonEmpty>
            <EuiButtonEmpty>
              I am a button 2
            </EuiButtonEmpty>
          </:content>
        </EuiCollapsibleNavGroup>
        <EuiCollapsibleNavGroup
          @iconType="alert"
          @initialIsOpen={{true}}
          @isCollapsible={{true}}
        >
          <:title>
            Submenu 3
          </:title>
          <:content>
            <EuiButton>
              I am a button here
            </EuiButton>
          </:content>
        </EuiCollapsibleNavGroup>
      </:content>
    </EuiCollapsibleNav>

    <EuiSpacer />

    <EuiTitle @size="s">
      Collapsible Nav Group
    </EuiTitle>
    <EuiSpacer />
    <EuiCollapsibleNavGroup>
      <:content>
        BASIC WITH NOTHING
      </:content>
    </EuiCollapsibleNavGroup>
    <EuiCollapsibleNavGroup @iconType="alert" @background="light">
      <:title>
        Hello My friends!
      </:title>
      <:content>
        This is not collapsible! But the bottom one is!
      </:content>
    </EuiCollapsibleNavGroup>
    <EuiCollapsibleNavGroup
      @iconType="alert"
      @background="dark"
      @initialIsOpen={{false}}
      @isCollapsible={{true}}
    >
      <:title>
        Click me!!
      </:title>
      <:content>
        This is the collapsible content!!!
      </:content>
    </EuiCollapsibleNavGroup>
  </EuiPageContentBody>
</EuiPageContent>