<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Comment List
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle @size="m">Comment List</EuiTitle>
    <EuiText @size="s">
      <p>
        The Comment List serves merely as a wrapper for various comments.
        It does contain the comments from trying to connect each other in case you had multiple
        unrelated comment lists in the same page.
      </p>
      <p>
        The original component from the React.js framework receives a @comments object,
        and maps them into the EuiCommentList component. For Ember.js, just pass them as children.
      </p>
    </EuiText>
    <EuiSpacer />
    <EuiCommentList>
      <EuiComment @type="regular">
        <:username>
          kyloRen
        </:username>
        <:event>
          destroyed the jedi temple
        </:event>
        <:body>
          <EuiText>
            <p>
              Far out in the uncharted backwaters of the unfashionable end of the
              western spiral arm of the Galaxy lies a small unregarded yellow sun.
            </p>
          </EuiText>
        </:body>
        <:actions>
          <EuiButtonIcon @iconType="wrench"/>
        </:actions>
      </EuiComment>
      <EuiComment @type="update">
        <:username>
          lukeSW
        </:username>
        <:event>
          went into hiding
        </:event>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
      <EuiComment @type="update">
        <:username>
          r2d2
        </:username>
        <:event>
          kinda shut down
        </:event>
        <:body>
          <EuiText>
            <p>
              He went into a sort of hibernation or low power mode,
              you know? Like when you 'sleep' a computer.
            </p>
          </EuiText>
        </:body>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
      <EuiComment @timelineIcon="listAdd" @type="update">
        <:username>
          <EuiFlexGroup @responsive={{false}} @alignItems="center" @gutterSize="s">
            <EuiFlexItem @grow={{false}}>
              <EuiAvatar @type="space" @initials="FO" @name="First Order" @initialLength={{2}} @size="s" />
            </EuiFlexItem>
            <EuiFlexItem @grow={{false}}>
              firstOrder
            </EuiFlexItem>
          </EuiFlexGroup>
        </:username>
        <:event>
          <EuiFlexGroup @responsive={{false}} @alignItems="center" @gutterSize="s">
            <EuiFlexItem @grow={{false}}>
              was created by
            </EuiFlexItem>
            <EuiFlexItem @grow={{false}}>
              <EuiBadge @color="accent">snoke</EuiBadge>
            </EuiFlexItem>
          </EuiFlexGroup>
        </:event>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
      <EuiComment @type="regular">
        <:timelineIcon>
          <EuiAvatar
            @initials="RS"
            @name="Rey Skywokah"
            @type="user"
          />
        </:timelineIcon>
        <:username>
          reySkywokah
        </:username>
        <:event>
          turned out to be all mighty
        </:event>
        <:body>
          <EuiText>
            <p>
              How and why did this happen? Who knows..?
            </p>
          </EuiText>
        </:body>
        <:actions>
          <EuiButtonIcon @iconType="questionInCircle" />
        </:actions>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
    </EuiCommentList>
    <EuiSpacer @size="xl" />
    <EuiTitle @size="m">Comment</EuiTitle>
    <EuiText @size="s">
      <p>
        You can still use comments without the comment list wrapper.
      </p>
      <p>
        Due to the heavy amount of custom params you can provide to this component,
        EuiComment mostly receives named blocks rather that props.
        The code below yields the following result:
      </p>
    </EuiText>
    <EuiSpacer />
    <div class="code-block">
      <code>
        &lt;<span class="component-tag">EuiComment</span> @<span class="prop">type</span>=<span class="string">"regular"</span>&gt;<br>
          &nbsp;&nbsp;&lt;<span class="component-tag">:username</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;kyloRen<br>
          &nbsp;&nbsp;&lt;/<span class="component-tag">:username</span>&gt;<br>
          &nbsp;&nbsp;&lt;<span class="component-tag">:event</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;destroyed the jedi temple<br>
          &nbsp;&nbsp;&lt;/<span class="component-tag">:event</span>&gt;<br>
          &nbsp;&nbsp;&lt;<span class="component-tag">:body</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="component-tag">EuiText</span>&gt;<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="html-tag">p</span>&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Far out in the uncharted backwaters of the unfashionable end of the<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;western spiral arm of the Galaxy lies a small unregarded yellow sun.<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="html-tag">p</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="component-tag">EuiText</span>&gt;<br>
          &nbsp;&nbsp;&lt;/<span class="component-tag">:body</span>&gt;<br>
          &nbsp;&nbsp;&lt;<span class="component-tag">:actions</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="component-tag">EuiButtonIcon</span> @<span class="prop">iconType</span>=<span class="string">"wrench"</span>/&gt;<br>
          &nbsp;&nbsp;&lt;/<span class="component-tag">:actions</span>&gt;<br>
          &nbsp;&nbsp;&lt;<span class="component-tag">:timestamp</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;on 2015-02-05<br>
          &nbsp;&nbsp;&lt;/<span class="component-tag">:timestamp</span>&gt;<br>
        &lt;/<span class="component-tag">EuiComment</span>&gt;<br>
      </code>
    </div>
    <EuiSpacer />
    <EuiCommentList>
      <EuiComment @type="regular">
        <:username>
          kyloRen
        </:username>
        <:event>
          destroyed the jedi temple
        </:event>
        <:body>
          <EuiText>
            <p>
              Far out in the uncharted backwaters of the unfashionable end of the
              western spiral arm of the Galaxy lies a small unregarded yellow sun.
            </p>
          </EuiText>
        </:body>
        <:actions>
          <EuiButtonIcon @iconType="wrench"/>
        </:actions>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
    </EuiCommentList>

    <EuiSpacer @size="xl" />
    <EuiTitle @size="m">Comment Types</EuiTitle>
    <EuiSpacer />
    <EuiText>
      <p>
        You can pass down a <code>@<span class="prop">type</span></code> prop to
        stylize the comment. It accepts <code><span class="string">"regular"</span></code> as the default and
        <code><span class="string">"update"</span></code> for a more minimal one-liner comment.
        Update comments can also receive a body content.
      </p>
    </EuiText>
    <EuiSpacer />
    <EuiCommentList>
      <EuiComment @type="regular">
        <:username>
          betoCantu
        </:username>
        <:event>
          <EuiFlexGroup @responsive={{false}} @alignItems="center" @gutterSize="s">
            <EuiFlexItem @grow={{false}}>
              merged this branch into
            </EuiFlexItem>
            <EuiFlexItem @grow={{false}}>
              <EuiBadge @color="accent">master</EuiBadge>
            </EuiFlexItem>
          </EuiFlexGroup>
        </:event>
        <:body>
          The lorem ipsum body content to better show what the comment structure looks like.
        </:body>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
      <EuiComment @type="update">
        <:username>
          betoCantu
        </:username>
        <:event>
          <EuiFlexGroup @responsive={{false}} @alignItems="center" @gutterSize="s">
            <EuiFlexItem @grow={{false}}>
              merged this branch into
            </EuiFlexItem>
            <EuiFlexItem @grow={{false}}>
              <EuiBadge @color="accent">master</EuiBadge>
            </EuiFlexItem>
          </EuiFlexGroup>
        </:event>
        <:body>This is a comment with a body!!</:body>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
      <EuiComment @type="update">
        <:username>
          silvaMtz
        </:username>
        <:event>
          <EuiFlexGroup @responsive={{false}} @alignItems="center" @gutterSize="s">
            <EuiFlexItem @grow={{false}}>
              reopened this
            </EuiFlexItem>
            <EuiFlexItem @grow={{false}}>
              <EuiBadge @color="green">pull request</EuiBadge>
            </EuiFlexItem>
          </EuiFlexGroup>
        </:event>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
    </EuiCommentList>

    <EuiSpacer @size="xl" />
    <EuiTitle @size="m">Custom Timeline Icon</EuiTitle>
    <EuiSpacer />
    <EuiText>
      <p>
        Since most of the props are custom, you can use named blocks to pass down different components
        to the body, event, username, and most importantly, the icon to display.
        Use the <code>&lt;<span class="component-tag">:timelineIcon</span>&gt;</code> block.
      </p>
    </EuiText>
    <EuiSpacer />
    <EuiCommentList>
      <EuiComment @type="regular">
        <:timelineIcon>
          <EuiAvatar
            @initials="RS"
            @name="Rey Skywokah"
            @type="user"
            @size="l"
          />
        </:timelineIcon>
        <:username>
          reySkywokah
        </:username>
        <:event>
          turned out to be all mighty
        </:event>
        <:body>
          <EuiText>
            <p>
              How and why did this happen? Who knows..?
            </p>
          </EuiText>
        </:body>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
    </EuiCommentList>
    <EuiSpacer @size="xl" />
    <EuiTitle @size="m">Actions</EuiTitle>
    <EuiSpacer />
    <EuiText>
      <p>
        Use the <code>&lt;<span class="component-tag">:actions</span>&gt;</code> block to pass
        your custom actions, can be a button, popup menu, tooltip, anything.
        It will show on the top right corner of the comment.
      </p>
    </EuiText>
    <EuiSpacer />
    <EuiCommentList>
      <EuiComment @type="regular">
        <:username>
          reySkywokah
        </:username>
        <:event>
          turned out to be all mighty
        </:event>
        <:body>
          <EuiText>
            <p>
              How and why did this happen? Who knows..?
            </p>
          </EuiText>
        </:body>
        <:actions>
          <EuiButtonIcon @iconType="questionInCircle" />
        </:actions>
        <:timestamp>
          on 2015-02-05
        </:timestamp>
      </EuiComment>
    </EuiCommentList>
  </EuiPageContentBody>
</EuiPageContent>