<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Image
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody class="euiFlexGroup euiFlexGroup--directionColumn">
    <EuiText @color="primary">
      Size s
    </EuiText>
    <EuiImage
      @url="https://picsum.photos/700/400"
      @alt="random"
      @size="s"
      @caption="THE GREATEST"
      @hasShadow={{true}}
      @allowFullScreen={{true}}
      @fullScreenIconColor="light"
    />
    <EuiText @color="accent">
      Size m
    </EuiText>
    <EuiImage
      @url="https://picsum.photos/700/400"
      @alt="random"
      @size="m"
      @caption="THE GREATEST"
      @hasShadow={{true}}
      @allowFullScreen={{true}}
      @fullScreenIconColor="light"
    />
    <EuiText @color="warning">
      Size l
    </EuiText>
    <EuiImage
      @url="https://picsum.photos/700/400"
      @alt="random"
      @size="l"
      @caption="THE GREATEST"
      @hasShadow={{true}}
      @allowFullScreen={{true}}
      @fullScreenIconColor="light"
    />
    <EuiText @color="warning">
      Size Custom 500px
    </EuiText>
    <EuiImage
      @url="https://picsum.photos/700/400"
      @alt="random"
      @size="500"
      @caption="THE GREATEST"
      @hasShadow={{true}}
      @allowFullScreen={{true}}
      @fullScreenIconColor="light"
    />
  </EuiPageContentBody>
</EuiPageContent>