{{#if @onClick}}
  <button
    type="button"
    class="euiFormControlLayoutCustomIcon euiFormControlLayoutCustomIcon--clickable"
    ...attributes
    {{on "click" @onClick}}
  >
    <EuiIcon
      class="euiFormControlLayoutCustomIcon__icon"
      @type={{@type}}
      @size={{@size}}
      aria-hidden="true"
    />
  </button>
{{else}}
  <span class="euiFormControlLayoutCustomIcon" ...attributes>
    <EuiIcon
      class="euiFormControlLayoutCustomIcon__icon"
      @type={{@type}}
      @size={{@size}}
      aria-hidden="true"
    />
  </span>
{{/if}}