{{#let (unique-id) as |groupId|}}
  {{#if (and @isCollapsible (has-block "title"))}}
    <EuiAccordion
      id={{groupId}}
      class={{class-names
        (if (has-block "title") "euiCollapsibleNavGroup--withHeading")
        componentName="EuiCollapsibleNavGroup"
        backgroundColor=(arg-or-default @background "none")
      }}
      @buttonClassName="euiCollapsibleNavGroup__heading"
      @initialIsOpen={{arg-or-default @initialIsOpen true}}
      @arrowDisplay="right"
      ...attributes
    >
      <:buttonContent>
        <EuiFlexGroup @gutterSize="m" @alignItems="center" @responsive={{false}}>
          {{#if @iconType}}
            <div class="euiFlexItem euiFlexItem--flexGrowZero">
              <EuiIcon @type={{@iconType}} @size={{arg-or-default @iconSize "l"}} />
            </div>
          {{/if}}
          <EuiFlexItem>
            <EuiTitle @size={{arg-or-default @titleSize "xxs"}}>
              <TextBlock
                @tagName={{arg-or-default @titleTagName "h3"}}
                id={{concat groupId "__title"}}
                class="euiCollapsibleNavGroup__title"
              >
                {{yield to="title"}}
              </TextBlock>
            </EuiTitle>
          </EuiFlexItem>
        </EuiFlexGroup>
      </:buttonContent>
      <:content>
        <div class="euiCollapsibleNavGroup__children">
          {{yield to="content"}}
        </div>
      </:content>
    </EuiAccordion>
  {{else}}
    <div
      id={{groupId}}
      class={{class-names
        (if (has-block "title") "euiCollapsibleNavGroup--withHeading")
        componentName="EuiCollapsibleNavGroup"
        backgroundColor=(arg-or-default @background "none")
      }}
      ...attributes
    >
      {{#if (has-block "title")}}
        <div class="euiCollapsibleNavGroup__heading">
          <EuiFlexGroup @gutterSize="m" @alignItems="center" @responsive={{false}}>
            {{#if @iconType}}
              <div class="euiFlexItem euiFlexItem--flexGrowZero">
                <EuiIcon @type={{@iconType}} @size={{@iconSize}} />
              </div>
            {{/if}}
            <EuiFlexItem>
              <EuiTitle @size={{arg-or-default @titleSize "xxs"}}>
                <TextBlock
                  @tagName={{arg-or-default @titleTagName "h3"}}
                  id={{concat groupId "__title"}}
                  class="euiCollapsibleNavGroup__title"
                >
                  {{yield to="title"}}
                </TextBlock>
              </EuiTitle>
            </EuiFlexItem>
          </EuiFlexGroup>
        </div>
      {{/if}}
      <div class="euiCollapsibleNavGroup__children">
        {{yield to="content"}}
      </div>
    </div>
  {{/if}}
{{/let}}
