{{#if (eq @tagName "span")}}
  <span
    class={{class-names
      (unless (eq @responsive false) "euiFlexGroup--responsive")
      (if @wrap "euiFlexGroup--wrap")
      componentName="EuiFlexGroup"
      gutterSize=(arg-or-default @gutterSize "l")
      alignItems=(arg-or-default @alignItems "stretch")
      justifyContent=(arg-or-default @justifyContent "flexStart")
      direction=(arg-or-default @direction "row")
    }}
    ...attributes
  >
    {{yield}}
  </span>
{{else}}
  <div
    class={{class-names
      (unless (eq @responsive false) "euiFlexGroup--responsive")
      (if @wrap "euiFlexGroup--wrap")
      componentName="EuiFlexGroup"
      gutterSize=(arg-or-default @gutterSize "l")
      alignItems=(arg-or-default @alignItems "stretch")
      justifyContent=(arg-or-default @justifyContent "flexStart")
      direction=(arg-or-default @direction "row")
    }}
    ...attributes
  >
    {{yield}}
  </div>
{{/if}}