<div
  class={{class-names
    "euiComment"
    (if (eq @type "update") "euiComment--update")
    (if (hasBlock "body") "euiComment--hasBody")
  }}
  ...attributes
>
  {{#if (hasBlock "timelineIcon")}}
    <EuiComment::EuiCommentTimeline
      @type={{@type}}
    >
      <:timelineIcon>
        {{yield to="timelineIcon"}}
      </:timelineIcon>
    </EuiComment::EuiCommentTimeline>
  {{else}}
    <EuiComment::EuiCommentTimeline
      @type={{@type}}
      @timelineIcon={{@timelineIcon}}
    />
  {{/if}}
  <EuiComment::EuiCommentEvent
    @timestamp={{@timestamp}}
    @type={{@type}}
  >
    <:username>
      {{yield to="username"}}
    </:username>
    <:event>
      {{yield to="event"}}
    </:event>
    <:actions>
      {{yield to="actions"}}
    </:actions>
    <:body>
      {{yield to="body"}}
    </:body>
  </EuiComment::EuiCommentEvent>
</div>