<button
  type="button"
  class={{class-names "euiRangeThumb" (if @showTicks "euiRangeThumb--hasTicks")}}
  aria-valuemin={{@min}}
  aria-valuemax={{@max}}
  aria-valuenow={{cast-to @value to="number"}}
  aria-diabled={{@disabled}}
  tabindex={{if @disabled -1 (if @tabIndex @tabIndex 0)}}
  ...attributes
>
  <div
    role="slider"
    aria-valuemin={{@min}}
    aria-valuemax={{@max}}
    aria-valuenow={{cast-to @value to="number"}}
    aria-diabled={{@disabled}}
    tabindex={{if @disabled -1 (if @tabIndex 0)}}
  ></div>
</button>