{{#if
  (and
    (eq @type "update")
    (not
      (hasBlock "body")
    )
  )
}}
  <figure
    class={{class-names
      componentName="EuiCommentEvent"
      type=(arg-or-default @type "regular")
    }}
  >
    <figcaption class="euiCommentEvent__header">
      <div class="euiCommentEvent__headerData">
        <div class="euiCommentEvent__headerUsername">
          {{yield to="username"}}
        </div>
        <div class="euiCommentEvent__headerEvent">
          {{yield to="event"}}
        </div>
        {{#if @timestamp}}
          <div class="euiCommentEvent__headerTimestamp">
            <time>
              {{@timestamp}}
            </time>
          </div>
        {{/if}}
      </div>
        <div class="euiCommentEvent__headerActions">
          {{yield to="actions"}}
        </div>
    </figcaption>
      <div class="euiCommentEvent__body">
        {{yield to="body"}}
      </div>
  </figure>
{{else}}
  <div
    class={{class-names
      componentName="EuiCommentEvent"
      type=(arg-or-default @type "regular")
    }}
  >
    <div class="euiCommentEvent__header">
      <div class="euiCommentEvent__headerData">
        <div class="euiCommentEvent__headerUsername">
          {{yield to="username"}}
        </div>
        <div class="euiCommentEvent__headerEvent">
          {{yield to="event"}}
        </div>
        {{#if @timestamp}}
          <div class="euiCommentEvent__headerTimestamp">
            <time>
              {{@timestamp}}
            </time>
          </div>
        {{/if}}
      </div>
        <div class="euiCommentEvent__headerActions">
          {{yield to="actions"}}
        </div>
    </div>
      <div class="euiCommentEvent__body">
        {{yield to="body"}}
      </div>
  </div>
{{/if}}