<EuiSpacer @size="l" />
<div class="docfy-demo__description" ...attributes>
  <div class="docfy-demo__description__header">
    {{#if @title}}
        <a href="#{{@id}}" id={{@id}}>
          <EuiTitle class="docfy-demo__description__header__title" style="padding-top: 60px; margin-top: -60px">
            {{@title}}
          </EuiTitle>
        </a>
    {{/if}}
    {{#if @editUrl}}
      <a
        href="{{@editUrl}}"
        target="_blank"
        rel="noopener noreferrer"
        class="docfy-demo__description__header__edit-url"
      >
        Edit this demo
      </a>
    {{/if}}
  </div>

  <div class="docfy-demo__description__content">
    {{yield}}
  </div>
</div>
<EuiSpacer />