<div
  class={{class-names
    componentName="EuiCallout"
    size=(arg-or-default @size "m")
    color=(arg-or-default @color "primary")
  }}
  ...attributes
>
  {{#if @title}}
    {{#let (element (arg-or-default @heading "span")) as |H|}}
      <div class="euiCallOutHeader">
        {{#if @iconType}}
          <EuiIcon
            class="euiCallOutHeader__icon"
            @type={{@iconType}}
            @size="m"
            aria-hidden="true"
          />
        {{/if}}
        <H class="euiCallOutHeader__title">
          {{@title}}
        </H>
      </div>
    {{/let}}
  {{/if}}
  {{#if hasBlock}}
    <EuiText @size={{if (eq @size "s") "xs" "s"}}>
      {{yield}}
    </EuiText>
  {{/if}}
</div>