<div
  class={{class-names
    (unless @grow "euiText--constrainedWidth")
    componentName="EuiText"
    size=(arg-or-default @size "m")
  }}
  ...attributes
>
  {{#if (and @textAlign @color)}}
    {{#let (component "eui-text-align") as |Align|}}
      {{#let (component "eui-text-color") as |Color|}}
        <Align @textAlign={{@textAlign}}>
          <Color @color={{@color}} @tagName="div">
            {{yield}}
          </Color>
        </Align>
      {{/let}}
    {{/let}}
  {{else if (and @textAlign (not @color))}}
    {{#let (component "eui-text-align") as |Align|}}
      <Align @textAlign={{@textAlign}}>
        {{yield}}
      </Align>
    {{/let}}
  {{else if (and (not @textAlign) @color)}}
    {{#let (component "eui-text-color") as |Color|}}
      <Color @color={{@color}} @tagName="div">
        {{yield}}
      </Color>
    {{/let}}
  {{else}}
    {{yield}}
  {{/if}}
</div>