<button
  class="euiHeaderSectionItem__button"
  ref={{@ref}}
  onClick={{@onClick}}
  type="button"
  ...attributes
>
  {{yield}}
  {{#if @notification}}
    {{#if (eq @notification true)}}
      <EuiIcon
        class="euiHeaderSectionItemButton__notification euiHeaderSectionItemButton__notification--dot"
        @color={{arg-or-default @notificationColor "accent"}}
        @type="dot"
        @size="l"
      />
    {{else}}
      <EuiNotificationBadge
        class="euiHeaderSectionItemButton__notification euiHeaderSectionItemButton__notification--badge"
        @color={{arg-or-default @notificationColor "accent"}}
      >
        {{@notification}}
      </EuiNotificationBadge>
    {{/if}}
  {{/if}}
</button>