<div
  class={{class-names
    (if @fullWidth "euiFormControlLayout--fullWidth")
    (if @compressed "euiFormControlLayout--compressed")
    (if @readOnly "euiFormControlLayout--readOnly")
    (if (or @append @prepend) "euiFormControlLayout--group")
    (if @disabled "euiFormControlLayout--isDisabled")
    "euiFormControlLayout"
  }}
  ...attributes
>
  {{#if (has-block "prepend")}}
    {{yield "euiFormControlLayout__prepend" to="prepend"}}
  {{else}}
    {{yield "euiFormControlLayout__prepend"}}
  {{/if}}
  <div class="euiFormControlLayout__childrenWrapper">
    {{#if (has-block "field")}}
      {{yield to="field"}}
    {{else}}
      {{yield}}
    {{/if}}
    <EuiFormControlLayoutIcons
      @icon={{@icon}}
      @iconSide={{@iconSide}}
      @clear={{@clear}}
      @compressed={{@compressed}}
      @isLoading={{@isLoading}}
    />
  </div>
  {{#if (has-block "append")}}
    {{yield "euiFormControlLayout__append" to="append"}}
  {{else}}
    {{yield "euiFormControlLayout__append"}}
  {{/if}}
</div>