{{#if @ownFocus}}
  <EuiOverlayMask @onClick={{@onClose}} @headerZindexLocation="below" />
{{/if}}
<div
  {{open-flyout}}
  {{focus-trap isActive=true}}
  {{on-key 'Escape' @onClose}}
  role="dialog"
  class={{class-names
    (if (eq @maxWidth true) "euiFlyout--maxWidth-default")
    componentName="EuiFlyout"
    size=(arg-or-default @size "m")
  }}
  tabindex={{0}}
  style={{if (not (or (eq @maxWidth false) (eq @maxWidth true) )) (inline-styles max-width=@maxWidth)}}
  ...attributes
>
  {{#if (and @onClose (not @hideCloseButton))}}
    <EuiButtonIcon
      class="euiFlyout__closeButton"
      aria-label={{or @closeButtonAriaLabel @closeAriaLabel}}
      @iconType="cross"
      @color="text"
      @onClick={{@onClose}}
      data-test-subj="euiFlyoutCloseButton"
    />
  {{/if}}
  {{yield}}
</div>