<div
  class={{class-names
    componentName="EuiAvatar"
    size=this.size
    type=this.type
  }}
  style={{this.avatarStyles}}
  aria-label={{@name}}
  title={{@name}}
  ...attributes
>
  {{this.optionalInitial}}
</div>