<div
  class={{class-names
    componentName="EuiAvatar"
    size=(arg-or-default @size "m")
    type=(arg-or-default @type "user")
  }}
  style={{inline-styles
    componentName="EuiAvatar"
    name=@name
    backgroundColor=@color
    backgroundImage=(if @imageUrl @imageUrl "none")
  }}
  aria-label={{@name}}
  title={{@name}}
  ...attributes
>
  {{#if (and @name (not @imageUrl))}}
    <span aria-hidden="true">
      {{to-initials @name @initialLength @initials}}
    </span>
  {{/if}}
</div>