<EuiCard />
<EuiCard />

<EuiIcon @type="logoGolang" />
<EuiIcon @type="logoGolang" @size="m" />
<EuiIcon @type="logoGolang" @size="l" />
<EuiIcon @type="logoGolang" @size="xl" />
<EuiIcon @type="logoGolang" @size="xxl" />
<br>
<EuiIcon @type="logoRedis" @size="s" />
<EuiIcon @type="logoRedis" @size="m" />
<EuiIcon @type="logoRedis" @size="l" />
<EuiIcon @type="logoRedis" @size="xl" />
<EuiIcon @type="logoRedis" @size="xxl"/>
<br>
<EuiIcon @type="logoAWS" @size="s" />
<EuiIcon @type="logoAWS" @size="m" />
<EuiIcon @type="logoAWS" @size="l" />
<EuiIcon @type="logoAWS" @size="xl" />
<EuiIcon @type="logoAWS" @size="xxl" />
<br>
<EuiIcon @type="ember-eui/assets/ember.svg" @size="s" />
<EuiIcon @type="ember-eui/assets/ember.svg" @size="m" />
<EuiIcon @type="ember-eui/assets/ember.svg" @size="l" />
<EuiIcon @type="ember-eui/assets/ember.svg" @size="xl" />
<EuiIcon @type="ember-eui/assets/ember.svg" @size="xxl" />
<br>
<EuiIcon @type="https://www.flaticon.es/svg/static/icons/svg/3445/3445045.svg" @size="s" />
<EuiIcon @type="https://www.flaticon.es/svg/static/icons/svg/3445/3445045.svg" @size="m" />
<EuiIcon @type="https://www.flaticon.es/svg/static/icons/svg/3445/3445045.svg" @size="l" />
<EuiIcon @type="https://www.flaticon.es/svg/static/icons/svg/3445/3445045.svg" @size="xl" />
<EuiIcon @type="https://www.flaticon.es/svg/static/icons/svg/3445/3445045.svg" @size="xxl"/>
<br>
<EuiIcon @type="flag" @size="s" @color="green"/>
<EuiIcon @type="flag" @size="m" @color="white"/>
<EuiIcon @type="flag" @size="l" @color="red"/>
<EuiIcon @type="flag" @size="xl" @color="green"/>
<EuiIcon @type="flag" @size="xxl" @color="white"/>

<br>

<h1>Spinner</h1>

<EuiLoadingSpinner id={{unique-id}} />
<EuiLoadingSpinner id={{unique-id}} @size="xl" />

<br>

<h1>Accordion</h1>
<EuiAccordion
  @buttonContent="Clickable title"
>
  My content
</EuiAccordion>

<br>
<h1>Accordion with <b>forceState</b></h1>
The accordion is {{this.accordionState}} <br>
<button {{on "click" (fn (mut this.accordionState) "open")}}>Open</button>
<button {{on "click" (fn (mut this.accordionState) "closed")}}>Close</button>
<EuiAccordion
  @buttonContent="Clickable title"
  @forceState={{this.accordionState}}
  @onToggle={{if (eq this.accordionState "open")
    (fn (mut this.accordionState) "closed")
    (fn (mut this.accordionState) "open")
  }}
>
  My content
</EuiAccordion>

<br>
<h1>Accordion with <b>isLoading = true</b></h1>
<EuiAccordion
  @buttonContent="You spin my head right round"
  @isLoading={{true}}
>
  My content
</EuiAccordion>
<EuiAccordion
  @buttonContent="You spin my head right round also in content"
  @isLoading={{true}}
  @isLoadingMessage="What what"
>
  My content
</EuiAccordion>

<br>
<h1>Accordion with <b>arrowDisplay = left</b></h1>
<EuiAccordion
  @buttonContent="Clickable title"
  @arrowDisplay="right"
>
  My content
</EuiAccordion>

<hr>

<div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Primary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Secondary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Warning</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Danger</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton-isDisabled" disabled=""
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Disabled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Primary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Secondary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Warning</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Danger</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton-isDisabled" disabled=""
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Disabled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
</div>
