<EuiCard />
<EuiCard />

<hr>

<br>
<h1>Accordion</h1>
<EuiAccordion
  @buttonContent="Clickable title"
>
  My content
</EuiAccordion>

<br>
<h1>Accordion with <b>forceState</b></h1>
The accordion is {{this.accordionState}} <br>
<button {{on "click" (fn (mut this.accordionState) "open")}}>Open</button>
<button {{on "click" (fn (mut this.accordionState) "closed")}}>Close</button>
<EuiAccordion
  @buttonContent="Clickable title"
  @forceState={{this.accordionState}}
  @onToggle={{if (eq this.accordionState "open")
    (fn (mut this.accordionState) "closed")
    (fn (mut this.accordionState) "open")
  }}
>
  My content
</EuiAccordion>

<br>
<h1>Accordion with <b>isLoading = true</b></h1>
<EuiAccordion
  @buttonContent="You spin my head right round"
  @isLoading={{true}}
>
  My content
</EuiAccordion>
<EuiAccordion
  @buttonContent="You spin my head right round also in content"
  @isLoading={{true}}
  @isLoadingMessage="What what"
>
  My content
</EuiAccordion>

<br>
<h1>Accordion with <b>arrowDisplay = left</b></h1>
<EuiAccordion
  @buttonContent="Clickable title"
  @arrowDisplay="right"
>
  My content
</EuiAccordion>

<hr>

<div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Primary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Secondary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Warning</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Danger</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton-isDisabled" disabled=""
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Disabled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Primary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Secondary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Warning</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Danger</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton-isDisabled" disabled=""
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Disabled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
</div>
