<div class="euiRangeTooltip {{if @compressed "euiRangeTooltip--compressed"}}">
  <output
    class={{class-names
      "euiRangeTooltip__value"
      (concat "euiRangeTooltip__value--" this.styling.side)
      (if @showTicks "euiRangeTooltip__value--hasTicks")
    }}
    for={{@name}}
    style={{this.styling.style}}
  >
    {{yield to="valuePrepend"}}
    {{yield to="value"}}
    {{yield to="valueAppend"}}
  </output>
</div>