<div class="euiCommentTimeline" ...attributes>
  <div class="euiCommentTimeline__content">
    <div
      class={{class-names
        (if
          (or
            @timelineIcon
            (not (hasBlock "timelineIcon"))
          )
          "euiCommentTimeline__icon--default"
        )
        componentName="EuiCommentTimelineIcon"
        type=(arg-or-default @type "regular")
      }}
    >
      {{#if @timelineIcon}}
        <EuiIcon
          @size={{if (eq @type "update") "m" "l"}}
          @type={{@timelineIcon}}
        />
      {{else if (hasBlock "timelineIcon")}}
        {{yield to="timelineIcon"}}
      {{else}}
        <EuiIcon
          @type={{if (eq @type "update") "dot" "user"}}
          @size={{if (eq @type "update") "m" "l"}}
        />
      {{/if}}
    </div>
  </div>
</div>